<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Heebo:wght@300&family=Righteous&family=Rubik&family=Staatliches&family=Ubuntu&display=swap" rel="stylesheet">
    <!--AWESOME FONTS-->
    <script src="https://kit.fontawesome.com/c604c8b2c8.js" crossorigin="anonymous"></script> 
    <title>Fashion Dealer</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="stores-contact">
                <a href="/contact"><p class="contact">Contact fashion dealer</p></a>
            </div>
            <div class="shipping"><a href="/"><p>Home</p></a></div>
            <div class="login-shoppin">
                <a href="/login" class="loginp">log in</a>
                <a href="/signup" class="signup">Sign up</a>
                <div class="shoping"><img src="/static/imgs/users.svg" class="shopping" alt=""></div>  
            </div>
        </div>
        <div class="title">
            <h2>Fashion Dealer</h2>
            <div class="line"></div>
        </div>
        <div class="menu-nav">
            <ul>
                <li><a href="#versace">VERSACE</a></li>
                <li><a href="#balenciaga">BALENCIAGA</a></li>
                <li><a href="#lv">LOUIS VUITTON</a></li>
                <li><a href="#prada">PRADA</a></li>
            </ul>

        </div>

        <div class="video">
            <video autoplay muted loop controls playsinline>
                <source src="/static/imgs/balenciagarunaway.mp4" type="video/mp4">
            </video>
        </div>
        <!--MENU-BTN-->
        <div class="menu-btn"><img src="/static/imgs/bars.svg" class="menu-button"></div>
    </header>
    
    <!--VERSACE-->
    <section class="versace" id="versace">
        <!--VERSACE-BIO-->
        <div class="versace-bio">
            <div class="versace-bio_img">
                <img src="/static/imgs/versace.png" id="vlogo">
            </div>
            <div class="versace-bio_text">
                <p id="vtext">
                    " Versace became known for his glamorous styles, producing a range of siren dresses that became his trademark. He often used innovative materials such as aluminum mesh or cutting-edge techniques like "neo-couture" laser technology to fuse leather and rubber. The head of Medusa was also a recurring image on many of his clothing items and accessories. He launched his first couture collection in 1989 and added two clothing lines, Versus and Instante, to his business in the '90s ".
                </p>
            </div>
        </div>

        <!--VERSACE-PRODUCTS-->
        <div class="product">
            <h3>Available Versace Products</h3>
            <button class="pre-btn"><img src="/static/imgs/arrowLeft.svg"></button>
            <button class="nxt-btn"><img src="/static/imgs/arrowRight.svg"></button>
            <!--VERSACE-PRODUCTS-CARDS-CONTAINER-->
            <div class="product-container">
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/versace1.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2200</span><span class="actual-price">$4500</span>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">25 pieces</span>
                     <img src="/static/imgs/versace2.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2000</span><span class="actual-price">$5000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">20 pieces</span>
                     <img src="/static/imgs/versace3.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2500</span><span class="actual-price">$4200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/versace4.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2500</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/versace5.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : S</p>
                        <span class="price">$2200</span><span class="actual-price">$4800</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50 pieces</span>
                     <img src="/static/imgs/versace6.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2800</span><span class="actual-price">$5200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/versace7.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : L, M, S</p>
                        <span class="price">$2000</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/versace8.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">VERSACE</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2700</span><span class="actual-price">$4200</span>
                    </div>
                </div>
            </div>

        </div>

    </section>

    
    <!--BALENCIAGA-->
    <section class="balenciaga" id="balenciaga">
        <!--BALENCIAGA-BIO-->
        <div class="versace-bio">
            <div class="versace-bio_img">
                <img src="/static/imgs/balenciaga.png" id="Blogo">
            </div>
            <div class="versace-bio_text">
                <p id="vtext">
                    " Balenciaga is most known for revolutionizing women’s fashion with never-before-seen shapes in the mid-20th century, such as the “ballroom hems” of the early 1950s, the “semi-fit” lines of the mid-50s and the introduction of the “sack dress” in 1957. "
                </p>
            </div>
        </div>

       
        <div class="product">
            <h3>Available Balenciaga Products</h3>
            <button class="pre-btn"><img src="/static/imgs/arrowLeft.svg"></button>
            <button class="nxt-btn"><img src="/static/imgs/arrowRight.svg"></button>
            
            <div class="product-container">
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/balenciaga1.jpg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2200</span><span class="actual-price">$4500</span>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">25 pieces</span>
                     <img src="/static/imgs/balenciaga2.jpg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2000</span><span class="actual-price">$5000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">20 pieces</span>
                     <img src="/static/imgs/balenciaga3.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2500</span><span class="actual-price">$4200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/balenciaga4.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2500</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/balenciaga5.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : S</p>
                        <span class="price">$2200</span><span class="actual-price">$4800</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50 pieces</span>
                     <img src="/static/imgs/balenciaga6.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2800</span><span class="actual-price">$5200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/balenciaga7.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : L, M, S</p>
                        <span class="price">$2000</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/balenciaga8.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">BALENCIAGA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2700</span><span class="actual-price">$4200</span>
                    </div>
                </div>
            </div>

        </div>

    </section>


     <!--LV-->
     <section class="balenciaga" id="lv">
        <!--BALENCIAGA-BIO-->
        <div class="versace-bio">
            <div class="versace-bio_img">
                <img src="/static/imgs/lv.png" id="lv-logo">
            </div>
            <div class="versace-bio_text">
                <p id="vtext">
                    " Louis Vuitton is the world’s most valuable luxury brand and is a division of LVMH. Its products include leather goods, handbags, trunks, shoes, watches, jewelry and accessories. Most of these are adorned with the LV monogram. It is one of the most profitable brands in the world with profit margins approaching 40%. Long-time creative director Marc Jacobs left Louis Vuitton in 2013 after 16 years in charge of the brand. He plans to focus on his own Marc Jacobs line, which is also owned by LVMH. Recent product endorsers of the brand include Angelina Jolie, Muhammad Ali and Michael Phelps. "
                </p>
            </div>
        </div>

       
        <div class="product">
            <h3>Available LOUIS VUITTON Products</h3>
            <button class="pre-btn"><img src="/static/imgs/arrowLeft.svg"></button>
            <button class="nxt-btn"><img src="/static/imgs/arrowRight.svg"></button>
            
            <div class="product-container">
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/lv1.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2200</span><span class="actual-price">$4500</span>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">25 pieces</span>
                     <img src="/static/imgs/lv2.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2000</span><span class="actual-price">$5000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">20 pieces</span>
                     <img src="/static/imgs/lv3.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2500</span><span class="actual-price">$4200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/lv4.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2500</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/lv5.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : S</p>
                        <span class="price">$2200</span><span class="actual-price">$4800</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50 pieces</span>
                     <img src="/static/imgs/lv6.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2800</span><span class="actual-price">$5200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/lv7.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : L, M, S</p>
                        <span class="price">$2000</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/lv8.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">LOUIS VUITTON</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2700</span><span class="actual-price">$4200</span>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <!--PRADA-->
    <section class="balenciaga" id="prada">
        <!--BALENCIAGA-BIO-->
        <div class="versace-bio">
            <div class="versace-bio_img">
                <img src="/static/imgs/prada.png" id="plogo">
            </div>
            <div class="versace-bio_text">
                <p id="vtext">
                    " Prada brand offers men’s and women’s leather goods,
                    clothing and footwear, combining contemporary, innovative and
                    sophisticated design with the uniqueness of handcrafted products.
                    Prada also operates in the eyewear and fragrance sector. "
                </p>
            </div>
        </div>

       
        <div class="product">
            <h3>Available Prada Products</h3>
            <button class="pre-btn"><img src="/static/imgs/arrowLeft.svg"></button>
            <button class="nxt-btn"><img src="/static/imgs/arrowRight.svg"></button>
            
            <div class="product-container">
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/p1.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2200</span><span class="actual-price">$4500</span>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">25 pieces</span>
                     <img src="/static/imgs/p2.png" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2000</span><span class="actual-price">$5000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">20 pieces</span>
                     <img src="/static/imgs/p3.png" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : M</p>
                        <span class="price">$2500</span><span class="actual-price">$4200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/p4.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2500</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/p5.png" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : S</p>
                        <span class="price">$2200</span><span class="actual-price">$4800</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50 pieces</span>
                     <img src="/static/imgs/p6.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2800</span><span class="actual-price">$5200</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">15 pieces</span>
                     <img src="/static/imgs/p7.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : L, M, S</p>
                        <span class="price">$2000</span><span class="actual-price">$4000</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">35 pieces</span>
                     <img src="/static/imgs/p8.jpeg" class="product-thumb" alt="">
                     <button class="card-btn">add to wish list</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">PRADA</h2>
                        <p class="product-short-description">Available Sizes : XL, L, M</p>
                        <span class="price">$2700</span><span class="actual-price">$4200</span>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!--FOOTER-->
    <footer class="footer"></footer>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/footer.js"></script>
   
</body>
</html>